{% extends "base.html" %}


{% block head %}
    <script src="/elasticsearch/static/ajaxfileupload.js"></script>
    <script src="/elasticsearch/static/jquery.contextmenu.js"></script>
    <link rel="stylesheet" href="/elasticsearch/static/jquery.contextmenu.css">
{% endblock %}

{% block content %}

    <input type='hidden' id='template_id' value="{{template.id}}"/>

    <input type='hidden' id='operation' />

    <input type='hidden' id='right_click_id' />

    <input type='hidden' id='right_click_name' />

    <div class="container-fluid">

        <h2><img border="0" src="/elasticsearch/static/img/{{template.icon}}" style="height: 16px;width: 14px">{{template.name}}</h2>

        <ul class="nav nav-tabs" id="myTab" style="margin-bottom: 1px;">    
            <li class="active">    
                <a href="/elasticsearch/salt/role?template_id={{template.id}}">
                <i class="icon-home"></i>role管理</a>    
            </li>

            <li class="dropdown">
                <a href="#" class=" dropdown-toggle" data-toggle="dropdown">
                <i class="icon-wrench"></i>配置管理<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/elasticsearch/salt/conf_file?template_id={{template.id}}">配置文件</a>
                    </li>                  
                </ul>
            </li>
        </ul>
    </div>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:auto;min-width: 650px;height:auto;left: 45%;top:40%;font-weight: 600;font-size: 20px;">
        <div class="modal-header">
        <span id="modal-header" class="modal_head"></span>
        <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-body" style="overflow-y: auto;max-height: 400px;padding: 15px;" id="modal_body">
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn AjaxLink btn-primary" id="modal_command">提交</button>
            <button class="btn dismissButton " data-dismiss="modal">取消</button>
        </div>
    </div>

    <script type="text/javascript">

    new_modal_body = '<label class="control-label">名称</label><div class="controls"><input id="name1" name="templateName" value=""  type="text"><p class="help-block message"></p></div>';

    mapping = {"configure":new_modal_body,
                "role":new_modal_body,
                "add_configure":'<div class="control-group"><label class="control-label">匹配规则:</label><div class="controls"><input id="_reg" name="templateName" style="width: 420px;" type="text" placeholder="例如：[\\r\\n]+[#]?[ ]*([^: ]+)[ ]*:[ ]*([^\\r\\n]+) 对应(#?)key : value形式"></div></div><div class="control-group"><label class="control-label">文件:</label><div class="controls"><input type="file" name="configure_file" id="configure_file" size="28" /><p class="help-block message"></p></div></div><div class="control-group" style="margin-top: 20px;"><label class="control-label" style="display: inline;">属性去重:</label><input id="unique_key" type="checkbox" class="un_check" style="margin-left: 30px;" checked="checked"/></div>',
            };

    function import_configure()
    {
        var id = $("#right_click_id").attr("value");        
        var name = $("#right_click_name").attr("value");

        $("#modal-header").html("增加文件 '" + name + "' 的配置");
        $('#modal_body').html(mapping["add_configure"]);
        $("#operation").attr("value","add_configure");
    }

    $(function() {
            $('.configure').contextPopup({
              title: '',
              items: [
                {label:'增加配置', action: import_configure},                 
                {label:'删除配置', action:function() { alert('删除配置') } }, 
                null, // divider
                {label:'修改名称', action:function() { alert('修改名称') } },
                null, // divider
                {label:'关联role', action:function() { alert('关联role') } }     
              ]
            });
        });


    function adjax(url,data,return_flag)
    {
        $.ajax({
                url: url,
                type: 'POST',
                dataType: 'JSON',
                data: data,
                timeout: 5000,
                success: function(data) {
                    if( data.status=="ok")
                    {                                                
                        if (return_flag == 0)
                        {
                            alert("操作成功");
                            window.location.href="/elasticsearch/salt/template";
                            return;
                        }
                        else
                        {
                            var html_cn = ""
                            var result = data.result;
                            for(var i=0;i<result.length;i++)

                            {
                                var item = result[i];
                                html_cn = html_cn + '<tr class="configRow" style="height: 50px;"><td class="wrap name"><span class="cmfParamName">' + item.key + '</span><br></td><td class="wrap value editable defaultGroup"><div class="item_value"' + 'value="' + item.id + '">' + item.value + '</div></td></tr>';                             
                            }
                            $("#content").html(html_cn);
                            $(".item_value").css({'cursor':'pointer'});
                            $(".item_value").click(_modify_conf);
                        }
                        
                    }
                    else
                    {
                        alert("操作失败");
                    }
                },
                error: function (data) {
                    //alert(data);
                    alert("操作出错");
                }
            });
    }

    function _new()
    {
        var name = $(this).attr("value");

        $("#modal-header").html("请输入" + name + "的名称");
        $('#modal_body').html(mapping[name]);
        $("#operation").attr("value",name);
    }

    function _upload_reg(name)
    {
        var _reg = $("#_reg").val();
        var _id = $("#right_click_id").attr("value");

        var checked = $("#unique_key").attr('checked');


        adjax("/elasticsearch/salt/configure/file/add/reg",{reg:_reg,name:name,id:_id,checked:checked},0);
    }

    function _add_configure(id)
    {
        if(typeof $("#configure_file").val() != 'undefined'){
            $.ajaxFileUpload({
                url:'/elasticsearch/salt/configure/file/add/file',
                secureuri:false,
                fileElementId:'configure_file',//input框的ID
                dataType: 'json',//返回数据类型
                success: function (data, status){//上传成功
                    if(data.status == "ok"){
                        _upload_reg(data.filename);
                        } else{
                            alert('上传失败！');
                        }
                    },
                error: function (data) {
                    alert("新建出错");
            }
            });
        }        
    }

    function commit()
    {
        id = $("#template_id").attr("value");
        ope = $("#operation").attr("value");
        if ((ope == "configure") || (ope == "role"))
        {
            name = $("#name1").val();
            adjax("/elasticsearch/salt/configure/add/" + ope,{id:id,name:name},0);           
        }
        else
        {
            _add_configure(id);
        }

    }

    function _configure_detail()
    {
        var id = $(this).attr("value");
        var result = adjax("/elasticsearch/salt/configure/display",{id:id},1);
    }

    function _reset()
    {
        var _id = $(this).attr("value");
        var _name = $(this).attr("value");
        alert($(this).attr("class"));
        var _parent = $(this).parent().parent();  //返回td
        var _changes_html = '<div class="item_value"' + 'value="' + _id + '">' + _name + '</div>';
        _parent.html(_changes_html);
        $(".item_value").css({'cursor':'pointer'});
        $(".item_value").click(_modify_conf);
    }

    function _modify_conf()
    {
        var _id  = $(this).attr("value");
        var _name = $(this).text();

        var _changes_html = '<div class="nowrap overrideGroup"><div class="warningThreshold"><label class="control-label input-small">原来的值: ' + _name + '</label></div><div class="criticalThreshold"><label class="control-label input-small">修改后的值:</label><input class="input-small" class="_new" style="width: 200px;" type="text"></div><a href="#" class="erase overrideGroup" value="1" onclick="_reset()" >取消修改<i class="IconErase16x16"></i></a></div>';
        $(this).parent().html(_changes_html);
        $(".defaultGroup").css({'cursor':'pointer'});

    }

    $(document).ready(function() {
        $("#modal_command").click(commit);
        $("#new_configure").click(_new);
        $("#new_role").click(_new);
        $(".configure").click(_configure_detail);
        $(".configure").css({'cursor':'pointer'});
        page_light("template_page");
    });

    </script>


{% endblock %}
