{% extends "base.html" %}

{% block head %}
    <script src="/static/ajaxfileupload.js"></script>
{% endblock %}


{% block content %}

<div class="container-fluid" style="margin-top:5px" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <div class="toolbar">
        <a data-toggle="modal" 
            href="#myModal"
            class="btn btn-primary AjaxLink">新建
        </a>
        <a           
            class="btn btn-primary AjaxLink" onclick="auto_load()">加载默认es模板
        </a>
    </div>

    <table class="DataTable">
            <thead>
                <tr>
                    <th></th>
                    <th class="widthMin">名称</th>
                    <th>配置文件模板</th>                    
                    <th>角色</th>
                    <th>描述</th>
                    <th></th>                    
                </tr>
            </thead>
            <tbody>                
                {% for item in template %}
                <tr>
                    <td><img border="0" src="/static/img/{{item.icon}}" style="height: 16px;width: 14px"></td>
                    
                    <td><a href="/salt/configure?template_id={{item.id}}">
                                {{item.name}}</a></td>
                    
                    <td>
                        {% for template_item in item.template %}
                        <ol class="ordered-link-list">                    
                            <li>
                                <a >
                                {{template_item.1}}</a>
                            </li>
                        </ol>
                        </br>
                        {% endfor %}                    
                    </td>
                    
                    <td>
                        {% for template_item in item.role %}
                        <ol class="ordered-link-list">                    
                            <li>
                                <a >
                                {{template_item.1}}</a>
                            </li>
                        </ol>
                        </br>
                        {% endfor %}  
                    </td>
                    
                    <td>{{item.desc}}</td>

                    <td>
                        <div class="btn-group alignRight">
                            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-list-alt"></i>
                                操作
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a onclick="del({{item.id}})" class="AjaxLink">
                                    删除</a>
                                </li>                               
                            </ul>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:auto;min-width: 650px;height:auto;left: 45%;top:40%">
        <div class="modal-header">
        <span id="modal-header" style="font-weight:600;font-size:20px;">新建模板</span>
        <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-body" style="overflow-y: auto;max-height: 400px;padding: 15px;" id="modal_body">
            <div class="control-group">
                <label class="control-label">
                    名称
                </label>
                <div class="controls">
                    <input id="name1" name="templateName" value="" data-bind="value: templateName, valueUpdate: 'afterkeydown'" type="text">
                    <p class="help-block message"></p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    描述
                </label>
                <div class="controls">
                    <textarea id="param_str" name="desc" style="height:80px;"></textarea>
                    <p class="help-block message"></p>
                </div>
            </div>            

            <div class="control-group">
                <label class="control-label">
                    图标
                </label>
                <div class="controls">
                    <input type="file" name="upload_file" id="name" size="28" />
                    <p class="help-block message"></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" data-dismiss="modal" class="btn AjaxLink btn-primary" id="modal_command" />提交</button>
            <button class="btn dismissButton " data-dismiss="modal">取消</button>
        </div>
    </div>
    </div>
     <script type="text/javascript">

        function del(id)
        {
            if(confirm("是否继续")){
                _del(id);
            }
        }

        function _del(id)
        {

            $.ajax({
                url: '/salt/template/del',
                type: 'POST',
                dataType: 'JSON',
                data: {id:id},
                timeout: 5000,
                success: function(data) {
                    if( data.status=="ok")
                    {

                        alert("操作成功");
                        window.location.href="/salt/template";
                        return;
                    }
                    else
                    {
                        alert("操作失败");
                    }
                },
                error: function (data) {
                    $(".modal-backdrop").remove();
                    $(".global-spinner-well").hide();
                    //alert(data);
                    alert("操作出错");
                }
            });
        }

        $("#modal_command").click(function(){
            name = $('#name1').attr("value");
            if (name == "")
            {
                alert("请输入名称");
                return;
            }

            if(confirm("是否继续")){
                save_task();
            }
        });

        function save_task(){
            if(typeof $("#name").val() != 'undefined'){
                $.ajaxFileUpload({
                    url:'/salt/template/add_file',
                    secureuri:false,
                    fileElementId:'name',//input框的ID
                    dataType: 'json',//返回数据类型
                    success: function (data, status){//上传成功
                        if(data.status == "ok"){
                            add(data.filename);
                            } else{
                                alert('上传失败！');
                            }
                        },
                    error: function (data) {
                        alert("新建出错");
                }
                });
            }        
        }


        function add(img){
            name = $('#name1').attr("value");
            desc = $('#param_str').attr("value");

            $.ajax({
                url: '/salt/template/add',
                type: 'POST',
                dataType: 'JSON',
                data: {name:name,desc:desc,img:img},
                timeout: 5000,
                success: function(data) {
                    if( data.status=="ok")
                    {
                        alert("新建成功");
                        window.location.href="/salt/template";
                        return;

                    }
                    else
                    {
                        alert("新建失败");
                    }
                },
                error: function (data) {
                    $(".modal-backdrop").remove();
                    $(".global-spinner-well").hide();
                    //alert(data);
                    alert("新建出错");
                }
            });
        }

        function auto_load()
        {
            $.ajax({
                url: '/salt/template/auto_load',
                type: 'POST',
                dataType: 'JSON',
                data: {name:"auto"},
                timeout: 10000,
                success: function(data) {
                    if( data.status=="ok")
                    {
                        alert("新建成功");
                        window.location.href="/salt/template";
                        return;

                    }
                    else
                    {
                        alert("新建失败: " + data.result);
                    }
                },
                error: function (data) {
                    $(".modal-backdrop").remove();
                    $(".global-spinner-well").hide();
                    //alert(data);
                    alert("新建出错");
                }
            });
        }

         $(document).ready(function() {
            page_light("template_page");
       });
     </script>
{% endblock %}

